@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
.badge {
  position: relative;
  width: 400px;
  display: inline-block;
  margin: 30px;
}
.badge .title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  position: absolute;
  top: -28px;
  border-radius: 8px 8px 0 0;
  text-align: center;
  width: 100%;
  background: red;
  padding: 20px 0;
}
.badge .subtitle {
  position: absolute;
  font-family: "Fjalla One", sans-serif;
  font-size: 1.6em;
  width: 100%;
  text-align: center;
  color: white;
  position: absolute;
  top: 75px;
}
.badge .subtitle:after {
  content: "★ ★ ★";
  display: block;
  font-size: .4em;
  position: relative;
  margin: 15px 0 0;
  transition: all .3s;
}
.badge:hover .subtitle:after {
  word-spacing: 30px;
}

.red .title {
  background: #DC514E;
}
.red .subtitle:after {
  color: #DC514E;
}

.green .title {
  background: #2ecc71;
}
.green .subtitle:after {
  color: #2ecc71;
}

.gray .title {
  background: #95a5a6;
}
.gray .subtitle:after {
  color: #95a5a6;
}

.yellow .title {
  background: #f1c40f;
}
.yellow .subtitle:after {
  color: #f1c40f;
}

.blue .title {
  background: #3498db;
}
.blue .subtitle:after {
  color: #3498db;
}
